<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wintermute.adventuresmaster">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".view.settings.PhilipsHueBulbsSettings"/>
        <activity android:name=".view.settings.PhilipsHueConfig" />
        <activity android:name=".view.tools.gm.LightSettings" />

        <service
                android:name=".services.player.SceneManager"
                android:exported="false" />

        <activity android:name=".view.tools.gm.BoardContentView" />
        <activity android:name=".view.tools.gm.SceneCreator" />
        <activity android:name=".view.tools.gm.BoardPanel" />
        <activity android:name=".dynamiclist.DynamicListActivity" />
        <activity android:name=".view.AdventuresMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".services.receiver.SceneReceiver" />
    </application>

</manifest>